@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  color-scheme: light;
}

/* ✅ Make app full width */
#root {
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: left;
}